@font-face {
    font-family: "Gotham";
    src: url("fonts/GothamMedium.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/GothamLight.ttf") format("truetype");
    font-weight: lighter;
}

$background-color-black: #282f38;
$background-color-white: #dadada;
$darkred-color: #8C2656;
$lightred-color: #F20544;
$Head-and-footer-color: #011420;
$Normal-font: "Gotham", Arial, Helvetica, sans-serif;

@mixin fontlighter() {
    font-family: "Gotham", Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

* {
    margin: 0px;
    padding: 0px;
}


body {

    background-color: $background-color-black;


    .App {

        height: 100%;

        .Website-Header {
            position: absolute;
            background-color: $Head-and-footer-color;
            height: 40px;
            color: white;
            box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.348);

            z-index: 2;

            h1 {
                font-size: 27px;
                @include fontlighter;
            }

            .Dark-Or-Light-Button-Container {
                .Dark-Or-Light-Button {
                    position: relative;
                    background-color: transparent;
                    width: 35px;
                    height: 20px;
                    margin: 10px 15px 0px auto;
                    border: 1px solid $darkred-color;
                    border-radius: 10px;

                    .Boll-Dark-Light {
                        position: absolute;
                        background-image: url("imagens/Moon.png");
                        background-repeat: no-repeat;
                        background-color: transparent;
                        background-size: cover;
                        background-size: 100% 100%;
                        width: 20px;
                        height: 20px;
                        margin: 0px;
                        top: -0.5px;

                        border-radius: 100%;
                    }


                }
            }
        }

        .Menu-Button-Container {
            position: fixed;
            height: 100%;
            width: 40px;
            z-index: 2;

            .Menu-Button {
                color: white;
                background-color: transparent;
                border: 0px;
                margin: 5px 0px 0px 4px;

                .material-symbols-outlined {
                    font-size: 28px;
                }

            }
        }

        .Body-All {

            height: 100%;



            .Menu-Opcoes {
                position: fixed;
                background-color: rgba(0, 0, 0, 0.558);
                height: 100%;
                width: 120px;
                z-index: 1;

                .Menu-Buttons-Ul {
                    list-style: none;
                    width: 100%;
                    margin: 40px 0px 0px 0px;
                    padding: 0;
                    text-align: center;



                    li {
                        width: 100%;
                        height: 35px;

                        a {
                            background: transparent;
                            width: 100%;
                            height: 100%;
                            color: white;
                            border: 0px;
                            text-decoration: none;
                            font-family: $Normal-font;


                            p {
                                width: 100%;
                                height: 100%;

                            }

                            p:hover {
                                background-color: #191919;
                            }
                        }

                    }

                }

            }

            @mixin Home-Photo() {
                width: 80%;
                height: 400px;
                margin: auto;
                padding-top: 40px;
                border-left: 2px solid $darkred-color;
                border-right: 2px solid $lightred-color;
                border-radius: 0px 0px 25px 25px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 100% 60%;
                background-attachment: local;
                box-shadow: inset 1px 1px 10px 3px rgba(0, 0, 0, 0.227);
            }

            .Home-start-DarkTheme {

                background-image: url(imagens/jt-6a-1JcjtVbc-unsplash.jpg);
                @include Home-Photo;
            }

            .Home-start-LightTheme {

                background-image: url(imagens/clement-m-igX2deuD9lc-unsplash.jpg);
                @include Home-Photo;
            }

            .Container-My-Img {
                width: 100%;
                height: 100%;


                .My-Img {
                    position: relative;
                    width: 135px;
                    max-width: 25%;
                    margin: 10px 50% 0px 50%;

                    transform: translate(0%);



                    img {
                        border: 2px solid #8C2656;
                        border-radius: 10px;
                        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.423);
                        opacity: 94%;

                    }

                }




            }

            @mixin texts(){
                p {
                    margin: 0;
                }


                .Welcome-Text {
                    font-size: 3.5vh;
                }

                .Name-Text {
                    font-size: 2.4vh;
                }

                .Developer-Text {
                    font-size: 1.8vh;
                    color: #8C2656;
                }
            }

            .Container-Texts-LightTheme {

                color: black;
                text-align: center;
                @include texts()
                
            }

            .Container-Texts-DarkTheme {
                color: white;
                text-align: center;
                @include texts()
                    
            }

            .Container-Projects {
                width: 80%;
                height: 100%;
                margin: 50px auto 50px auto;
                border: 2px solid #191e24;
                box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.282);
                color: #12161a;
                font-family: $Normal-font;
                text-indent: 10px;
                border-radius: 10px;


                .All-Projects {
                    width: 100%;
                    height: 100%;

                    @mixin ProjectsImg {
                        margin: auto;
                        display: block;
                        background-position: 50%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 85%;
                        height: 50vh;
                        border-radius: 10px;
                        text-decoration: none;
                        opacity: 90%;

                    }


                    .Project1 {
                        @include ProjectsImg();
                        background-image: url("imagens/projeto1.png");
                        color: white;
                    }

                    .Project2 {
                        @include ProjectsImg();
                        background-image: url("imagens/Projeto2.png");
                        color: black;
                    }




                    .Buttons-Projects {

                        width: 100%;
                        margin: auto;
                        text-align: center;

                        button {

                            background-color: transparent;
                            border: 0px;
                            margin: 10px 0px;

                            span {
                                width: 40px;
                            }


                        }
                    }

                }
            }

            .SkillsAndContact-Container {

                width: 80%;
                margin: 0px auto 30px auto;
                overflow-x: hidden;


                h1 {
                    color: #12161a;
                    font-size: 24px;
                    font-family: $Normal-font;
                }

                h2 {
                    color: #12161a;
                    font-size: 22px;
                    font-family: $Normal-font;
                }

                @mixin skillAndContainer {

                    text-align: center;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px 5px;


                }

                .Skills-Container {
                    @include skillAndContainer();
                    border-left: 2px solid #191e24;

                    button{
                        background-color: transparent;
                        border: 0px;
                    }
                }

                .Contact-Container {
                    @include skillAndContainer();
                    border-right: 2px solid #191e24;
                }
            }


        }

        footer {
            width: 100%;
            height: 60px;
            background-color: #011420;
        }

    }
}